* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
}


/* NAVIGATION AREA */
.brand {
  grid-column: span 3;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 30px);
}

.brand > * {
  height: 30px;
  background: #525072;
  border-radius: 50%;
}

.menu {
  grid-column: 4 / -1;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 80px);
  justify-content: right;
}

.menu > * {
  justify-self: center;
  padding: 0 15px;
}

.menu li {
  list-style: none;
}

.menu li a {
  text-decoration: none;
  color: #525072;
}

/* main content*/
.left-content {
  grid-column: span 4;
  color: #525072;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.left-content .cta {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 120px 140px;
}

.left-content p {
  width: 258px;
}

.left-content .cta a {
  text-decoration: none;
}

.cta1 {
  border: 3px solid #C36CBB;
  height: 20px;
  text-align: center;
  color: #C36CBB;
  padding: 10px;
}

.cta2 {
  background:  #C36CBB;
  border: 3px solid #C36CBB;
  height: 20px;
  color: #fff;
  text-align: center;
  padding: 10px;
}


.right-content {
  grid-column: 5 / -1;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.right-content div:nth-child(1) {
  background: #525072;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  order: 3;
}

.right-content div:nth-child(2) {
  background: #525072;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  order: 2;
}

.right-content div:nth-child(3) {
  background: #525072;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  order: 1;
}